@model Task_Tracker_Solution.Areas.Master.Models.ModuleWFLevelMapViewModel
@using Task_Tracker_CommonLibrary.Others
@using Task_Tracker_CommonLibrary.Utility;
@{
    ViewBag.Title = "WorkflowLevelsMapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/jquery-base64-master/jquery.base64.js"></script>
<script src="~/Content/jquery-base64-master/jquery.base64.min.js"></script>

<script>
    $(document).ready(function () {

        calculateTotalWtg();

        $('.ChkPercent').change(function () {
            calculateTotalWtg();
        });
    });

    function calculateTotalWtg() {
        var sum = 0;
        $('.ChkPercent').each(function () {
            sum += Number($(this).val());
        });

        //alert(sum);
        $("#lblTotalWtg").text(sum);
        if (sum > 100) {
            bootbox.alert("Sum of Percentage cannot be greater than 100");
        }
    }

    //function ddlChangeOLDToBeDeleted(obj) {
    //    var module_syscode = "";
    //    var project_syscode = "";

    //    try {

    //        module_syscode = $('#ddlmodule').val();
    //        project_syscode = $('#ddlproject').val();
    //        category_syscode = $('#ddlcategory').val();

    //        if (obj.id.includes('project')) {
    //            if (obj.value == "")
    //                $("#divModuleDDL").hide();

    //            $("#ddlmodule").empty();
    //            $("#ddlcategory").val("0");
    //        }
    //        else if (obj.id.includes('category')) {
    //            if (obj.value == "")
    //                $("#divModuleDDL").hide();
    //            //$("#ddlmodule").val('').change();
    //            $("#ddlmodule").empty();
    //        }

    //        $('#WorkflowTable').hide();
    //        $('#btnLvlTaskSave').hide();

    //        if (obj.value !== "" && (obj.id.includes('category') || obj.id.includes('module'))) {
    //            var form = $('#ModuleWFLevelMapForm');
    //            form.submit();
    //        }
    //    } catch (e) {
    //        alert(e.message);
    //    }
    //}

    function Validate() {
        var sum = 0;
        var isempty = false;                

        $('.ChkPercent').each(function () {
            if ($(this).val() == '') {
                isempty = true;
                return false;
            }
            else {
                sum += Number($(this).val());
            }
        });
        if (isempty) {
            bootbox.alert("Please enter Weightage");
            return false;
        }
        if (isempty == false && sum > 100) {
            bootbox.alert("Sum of Percentages cannot be greater than 100");
            return false;
        }

        $(".btn").addClass('disabled');
        //$(".btn").prop('disabled', true);
        //$("#ModuleWFLevelMapForm").submit();
        //$(".SaveButtons").attr("Disabled", "Disabled");
        //return true;
    }
</script>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-link icon-gradient bg-premium-dark">
                </i>
            </div>
            <div> Module &amp; Workflow Levels Mapping </div>
        </div>
    </div>
</div>
@*<div class="text-center">
        <span style="color:blue;font-weight:bold;font-size:12px">@(string.IsNullOrEmpty(ViewBag.SuccessMessage) ? TempData["SuccessMessage"] : ViewBag.SuccessMessage)</span>
        <span style="color:red;font-weight:bold;font-size:12px">@ViewBag.ErrorMessage</span>
    </div>*@
<div class="main-card mb-2 card">
    <div class="card-body">
        <div class="card-body pt-2 pb-1">
            @{
                Html.RenderPartial("~/Areas/Tasks/Views/Task/_SearchControl.cshtml", Model.searchDTO);
            }
        </div>

        @using (Html.BeginForm("SaveModuleWFLevel", "ModuleWFLevelMap", new { Area = "Master" }, FormMethod.Post, new { id = "ModuleWFLevelMapForm", enctype = "multipart/form-data" }))
        {
            @*<form class="">*@
            <div class="form-row">
                @Html.HiddenFor(model => model.project_syscode, new { id = "hidProjSyscode" })
                @Html.HiddenFor(model => model.category_syscode, new { id = "hidCatSyscode" })
                @Html.HiddenFor(model => model.module_syscode, new { id = "hidModSyscode" })
                @*<div class="col-md-4">
                        <div class="position-relative form-group">

                            @if (Model != null)
                            {
                                <label for="exampleEmail11" class="">Project</label>
                                @Html.DropDownListFor(model => model.project_syscode, Model.SLProjects ?? new SelectList(new List<SelectListItem>() { }), "--Select Project--",
                                                                  new
                                                                  {
                                                                      id = "ddlproject",
                                                                      @class = "form-control select2",
                                                                      placeholder = "Select Project"
                                                                      ,
                                                                      onchange = "ddlChange(this);"
                                                                  })
                            }

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="position-relative form-group">

                            @if (Model != null)
                            {
                                <label for="exampleEmail11" class="">Category</label>
                                @Html.DropDownListFor(model => model.category_syscode, Model.SLCategory ?? new SelectList(new List<SelectListItem>() { }), "--Select Category--",
                                                                  new
                                                                  {
                                                                      id = "ddlcategory",
                                                                      @class = "form-control select2",
                                                                      placeholder = "Select Category",
                                                                      onchange = "ddlChange(this);"
                                                                  })
                            }

                        </div>
                    </div>
                    <div class="col-md-4" id="divModuleDDL">
                        <div class="position-relative form-group">
                            @if (Model != null && Model.SLModules != null)
                            {
                                <label for="exampleEmail11">Module Name</label>
                                @Html.DropDownListFor(model => model.module_syscode, Model.SLModules, "--Select Module--",
                               new
                               {
                                   id = "ddlmodule",
                                   @class = "form-control select2",
                                   placeholder = "Select Module",
                                   onchange = "ddlChange(this);"
                               })
                            }
                        </div>
                    </div>*@
                <div></div>
                @if (!(Model == null || Model.lstLevelTaskUsers == null || Model.lstLevelTaskUsers.Count <= 0))
                {

                    <div class="col-md-12">
                        <label class="mb-1">Workflow: @Model.lstLevelTaskUsers[0].workflow_name</label>
                        <table class="mb-2 table table-bordered table-striped" id="WorkflowTable">
                            <thead>
                                <tr>
                                    <th class="text-center">Sr. No</th>
                                    <th>Workflow Level</th>
                                    <th style="width:40%">Users</th>
                                    <th class="text-center">Weightage</th>
                                    @*<th>Task</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var row = 0;
                                    for (var i = 0; i < Model.lstLevelTaskUsers.Count(); i++)
                                    {
                                        row = row + 1;
                                        var col = 0;
                                        string strIdPart = "WFLevelTable_Row" + row + "_Col";
                                        <tr id=@("WFLevelTable_Row"+row)>
                                            <td class="text-center" id=@(strIdPart + ++col)>
                                                @row
                                                @Html.HiddenFor(model => @Model.lstLevelTaskUsers[i].level_syscode)
                                                @Html.HiddenFor(model => @Model.lstLevelTaskUsers[i].details_syscode)
                                                @Html.HiddenFor(model => @Model.lstLevelTaskUsers[i].level_name)
                                            </td>
                                            <td id=@(strIdPart + ++col)>
                                                @Html.DisplayFor(model => @Model.lstLevelTaskUsers[i].level_name, new { @class = "form-control" })
                                            </td>

                                            <td id=@(strIdPart + ++col)>
                                                @Html.DropDownListFor(model => @Model.lstLevelTaskUsers[i].arrUserSyscodes, new MultiSelectList(Model.ddlData.Data.ExtractDDLDataForKey(DBTableNameEnums.GroupMember), "Value", "Text", @Model.lstLevelTaskUsers[i].arrUserSyscodes),
                                                    new
                                                    {
                                                        id = strIdPart + col + "_ddlUserList",
                                                        @class = "form-control select2",
                                                        multiple = "true",
                                                        data_placeholder = "Select Users"
                                                    })
                                            </td>
                                            <td id=@(strIdPart + ++col)>
                                                <div class="input-group">
                                                    @Html.TextBoxFor(model => @Model.lstLevelTaskUsers[i].weightage, new { @Value = (@Model.lstLevelTaskUsers[i].weightage == null) ? "0" : @Model.lstLevelTaskUsers[i].weightage.ToString(), @class = "form-control ChkPercent", @id = strIdPart + col + "_txtweightage", @type = "number", @min = "0" })
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <i class="fa fa-percent"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            @*<td id=@(strIdPart + ++col)>
                                                    @if (@Model.lstLevelTaskUsers[i].task_ref != null) {
                                                                    @Html.ActionLink(@Html.DisplayFor(model => @Model.lstLevelTaskUsers[i].task_ref).ToString(), "ViewTask", "Task", new { area = "Tasks", id = @Model.lstLevelTaskUsers[i].task_syscode.ToString().Base64Encode() }, new { })
                                                    }
                                                </td>*@
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td style="text-align:right">Total Weightage (%)</td>
                                    <td><label id="lblTotalWtg"></label></td>
                                    @*<td>&nbsp;</td>*@
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="divider m-0"></div>
                    <button id="btnLvlTaskSave" type="submit" class="SaveButtons mt-0 btn btn-primary" name="Action" value="Save" onclick="return Validate();">Save</button>  @*  "/ModuleWFLevelMap/Save" onclick="location.href='@Url.Action("Save", "ModuleWFLevelMap")'"*@
                                    <button id="btnLvlTaskSaveContinue" type="submit" class="SaveButtons mt-0 ml-2 btn btn-primary" name="Action" value="SaveContinue" onclick="return Validate();">Save &amp; Continue</button> @*  "/ModuleWFLevelMap/Save" onclick="location.href='@Url.Action("Save", "ModuleWFLevelMap")'"*@
                                    }
                                    else
                                    {
                                        <div style="text-align:center">
                                            No Records found!
                                        </div>
                                    }


            </div>
            @*</form>*@
                                    }
    </div>
</div>
